---
title: Monitoring <short product name> # <---- For example "Monitoring Non-Stop Party Service for PCF"
owner: <your group name> # <---- For example "London Services"
---

This topic provides instructions for monitoring [product name] using the metrics emitted from the Loggregator Firehose.
It also lists and describes those metrics.

## <a id='monitor'></a>Monitor [short product name]

Follow this procedure to set up and monitor [short product name].

1. Navigate to the Metrics configuration page.

2. 

## <a id='metrics'></a>[short product name] Metrics

Through the Loggregator [Firehose](http://docs.pivotal.io/pivotalcf/1-7/loggregator/architecture.html), [short product name] emits a number of metrics that can be used to monitor the health and performance of your [short product name] deployment.

### [metric_1]

<table border='1' class='nice'>
<tr>
  <th width="22%">Description</th>
  <td>[description of metric 1]
  </td>
</tr>
<tr>
  <th>Significance</th>
  <td>[significance of metrics]
</tr>
<tr>
  <th>Notes</th>
  <td>[optional row containing additional notes]</td>
</tr>
</table>

###[metric_2]

<table border='1' class='nice'>
<tr>
  <th width="22%">Description</th>
  <td>[description of metric 1]
  </td>
</tr>
<tr>
  <th>Significance</th>
  <td>[significance of metrics]
</tr>
<tr>
  <th>Notes</th>
  <td>[optional row containing additional notes]</td>
</tr>
</table>


## <a id='see-also'></a>See Also

For general information about metrics in Pivotal Cloud Foundry, see [Logging and Metrics](http://docs.pivotal.io/pivotalcf/loggregator/index.html).  



