/*
 * FILE: _footer.scss
======================================================================== */
.site-footer-links {
  @extend %h-xs;
  clear: both;
  padding: 1em 30px 4em 30px;
  a {
    color: $color-text;
  }
}

.copyright {
  @media (min-width: $bp-wide) {
    float: left;
  }
}

.support {
  @media (min-width: $bp-wide) {
    float: right;
  }
}

#feedback {
  #feedback-comments {
    margin-top: 1em;
    width: 50%;
  }
  #feedback-helpful {
    border: none;
    margin-top: 1em;
  }
  .feedback-option {
    float: left;
    margin-left: 2em;
    margin-top: 0.5em;
    width: 22%;
  }
  form fieldset {
    width: 11.5em;
    float: left;
  }
  textarea {
    width: 100%;
  }
  input[type='submit'] {
    background-color: transparentize($color-accent-bright, 0.8);
    bottom: -16.5em;
    margin-top: 1em;
    padding: 1em;
    position: absolute;
    right: 13em;
    width: 10%;
  }
}
