/*
 * FILE: _local-header.scss
======================================================================== */

.local-header.local-title {
  padding: 10px 0;
  font-weight: normal;
  font-size: 28px;
  -webkit-font-smoothing: auto !important;
  .img-container {
    position: relative;
    background: white;
    border-radius: 50%;
    width: 67px;
    height: 67px;
    text-align: center;
    float: none;
    display:inline-block;
    vertical-align: middle;
    margin-right: 35px;
    border: 2px solid #a6d6ce;
    @media(max-width: $bp-medium) {
      display: none;
    }
  }
  img {
    height: auto;
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 52px;
    max-width: 50px;

  }
  @media(max-width: 1053px) {
    font-size: 25px;
    .img-container {
      margin-right: 15px;
    }
  }
  @media(max-width: $bp-medium) {
    font-size: 1.2rem;
  }
  @media(max-width: 700px) {
    max-width: 250px;
  }
  @media(max-width: 390px) {
    max-width: 240px;
  }
}


.local-header.title-container {
  font-weight: 300;
  border-bottom: none;
  padding: 0;
  margin-bottom: 0;
  max-width: 55%;
  display: inline-block;
  a {
    border-bottom: none;
    padding: 0 5px;
  }
  .local-search {
    a {
      font-size: 16px;
      color: grey;
      vertical-align: middle;
      margin: 0 18px;
    }
    a:hover {
      background-color: inherit;
      border: none;
    }
  }

  .local-header.local-header-links {
    font-size: 14px;
    a:after {
      content: "";
    }
  }
  .local-header.version-info {
    color: grey;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    margin-left: 15px;
    a:after {
      content: "";
    }
  }
  @media (min-width: 43.75em) {
    font-size: 2em;
    font-weight: 300;
  }
  @media(max-width: 700px) {
    max-width: 90%;
  }
}


.local-header.local-version {
  font-size: 20px;
  margin-left: 5px;
  a {
    color: white;
    font-weight: normal;
    display: inline-block;
    &:hover {
      border-bottom: none;
    }
  }
  @media(max-width: 1053px) {
    font-size: 17px;
  }
}

.local-header.header-dropdown {
  float: none;
}

.local-header.local-title .local-version.header-dropdown .local-header.header-dropdown-content {
  left: 0;
  float: none;
  font-size: initial;
  padding: 0;
  background-color: $mint2;
  border: none;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  li {
    padding: 5px;
    font-weight: normal;
    margin: 0;
  }
  li:hover {
    background-color: rgba(0, 0, 0, 0.26);
    border-bottom: none;
  }
  a:link:hover {
    width: 100%;
    z-index: 100;
  }
}

.local-header.local-search {
  float: right;
  display: inline-block;
  width: 215px;

  table {
    margin: 0;
  }

  td, tr {
    border: none;
    margin: 0;
    padding: 0;
  }

  td.gsc-input {
    position: relative;

    &:before {
      font-family: FontAwesome;
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 6px;
    }
  }

  input.gsc-input {
    border: 1px solid grey;
    color: grey;
    border-radius: 15px;
    padding: 3px 15px;
  }

  .gsc-search-button, .gsc-clear-button {
    display: none;
  }

  input.local-header-search-input {
    border-radius: 50px;
    font-size: 16px;
  }

  .local-header-search-form {
    position: relative;

    &:before {
      font-family: FontAwesome;
      content: "";
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 16px;
      color: #969696;
    }
  }
}




