@import "font-awesome/variables";
@import "font-awesome/core";
@import "font-awesome/path";

@import "partials/mixins";

@import "vendor/mermaid";

// content
@import "partials/3rdparty";
@import "partials/global-header";
@import "partials/local-header";
@import "partials/fix-search-tables";

* {
  box-sizing: border-box;
}


// ~BREADCRUMB
// ===================================================
.breadcrumbs {
  display: block;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  display: none;
  margin: 0;
  &:first-child {
    display: block;
  }
}


// ~HOMEPAGE
// ===================================================
.index .content {
  padding-bottom: 0;
  padding-top: 0;
}

.panel-wrapper {
  border: 2px solid #edefef;
  border-radius: 10px;
  margin: 3em 0 0;
  padding: 0 1.25rem;
}
.panels {
  display: block;
  padding: 0;
  @include clearfix;
  @media (min-width: $bp-wide) {
    margin-top: 1.5em;
  }
}
.panel .title-deemph {
  display: block;
}

// Add notebook like shadows


/*doc
---
title: Panel
name: panel
category: basics
---
```html_example
<li class="panel">
  <a href="#">
    <div class="prodname">
      <span class="title-deemph">Pivotal</span> <span class="title-emph">Product</span><span class='tmr'>&trade;</span> for <span class="title-emph">Pivotal Cloud Foundry</span><span class='tmr'>&trade;</span>
    </div>
  </a>
</li>
```
*/
.panel {
  display: block;
  margin-bottom: 2em;
  position: relative;
}
.panel img {
  display: block;
  margin: 0 auto;
  height: 4rem;
}
.panel a {
  color: $color-text;
  padding: 1em;
  display: block;
  overflow: hidden;
  padding-top: 1.5em;
  min-height: 7rem;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #F3F3F3;
  border-bottom-color: #E0E0E0;
  text-align: center;
  &[href^="http"]:after {
    display: none;
    white-space: nowrap;
  }
}
.content .panel a:hover {
  background: $color-bg-panel;
  border-bottom-color: darken(#ecefef, 5%);
  .action {
    color: $color-text;
  }
}
.prodname {
  font-size: $font-size-m;
  line-height: 1.1;
}
.action {
  color: #9c9c9c;
  margin-top: 0.8em;
}
.version {
  color: #9c9c9c;
  font-style: italic;
  margin-top: 0.5em;
  display: none;
}

// ~CONTENT
// ===================================================
// Designate external links with an icon

/*doc
---
title: Link External
name: link_external
category: basics
---
```html_example
<a class="external-link" href="#">Link</a>
```
*/
.content a[href^="http"]:after,
.external-link:after {
  @extend .fa;
  content: $fa-var-external-link;
  font-size: 0.75em;
  padding-left: 0.5em;
  white-space: nowrap;
}


// ~TITLES
// ===================================================

// Title used on homepage and larger splash pages

.title-panel {
  margin-top: 1.5rem;
}

.title-center {
  text-align: center;
}

/*doc
---
title: Title Flashy
name: title_flashy
category: basics
---
```html_example
<h1 class="title-flashy">
  <span class="title-deemph">Pivotal</span> Documentation
</h1>
```
*/
.title-flashy {
  display: inline-block;
  font-weight: 600;
  font-size: $font-size-l;
  text-align: left;
  margin-left: 1rem;
  img {
    height: rem(61);
    vertical-align: middle;
    padding-right: .5rem;
    float: left;
    @media (min-width: $bp-wide) {
      height: rem(45);
      float: none;
    }
  }
  @media (min-width: $bp-wide) {
    font-size: $font-size-xxl;
    margin-left: 0;
    padding-left: 1.8em;
    padding-top: 2rem;
    text-align: center;
  }
}
/*doc
---
title: Title Intro
name: title_intro
category: basics
---
```html_example
<h2 class="title-intro">
  Everything you need to know about Pivotal Software.
</h2>
```
*/
.title-intro {
  font-size: $font-size-m;
  font-weight: 300;
  margin: 0 auto 0.5em;
  max-width: 30em;
  text-align: center;
  @media (min-width: $bp-wide) {
    font-size: $font-size-l;
  }
}
/*doc
---
title: Title Details
name: title_details
category: basics
---
```html_example
<h3 class="title-details">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</h3>
```
*/
.title-details {
  font-size: $font-size-m;
  font-weight: 300;
  margin: 0 auto;
  max-width: 30em;
  padding-bottom: 2em;
  text-align: center;
  @media (min-width: $bp-wide) {
    font-size: $font-size-m;
  }
}

/*doc
---
title: Title Modifiers
name: title_modifiers
category: basics
---
```html_example
<div class="prodname">
  <span class="title-deemph">Pivotal</span> <span class="title-emph">CF</span>
</div>
```
*/

.title-deemph {
  font-weight: 300;
}
.title-emph {
  font-weight: 600;
}


// table formatting helper

/*doc
---
title: Content Helper - Centering
name: content_helper-centering
category: basics
---

Use this div to center table cells.

```html_example
<table border="1" class="nice">
<tr>
	  <th><div class="centered"><strong>CLI</strong></div></th>
	  <th colspan='3'><div class="centered"><strong>Developer Console</strong></div></th>
</tr>
<tr>
  <td>lorem ipsum</td>
  <td>dolor sit amet</td>
</tr>
</table>
```

*/
.centered {
  margin:0 auto;
  vertical-align: middle;
   width: 50%;
}

// list helpers

/*doc
---
title: Content Helper - List Steps
name: content_helper-list_steps
category: basics
---

```html_example
<ol class="list-steps">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
</ol>
```
*/
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 1em;
  padding-bottom: 0
}
.list-steps {
  counter-reset: list-steps;
  list-style: none;
  margin-left: 1.55em;
  margin-top: 2em;
  padding: 0;
}
.list-steps > li {
  clear: both;
  min-height: 5.2em;
  padding: 0.75em 0 1.5em 3em;
  border-left: 1px dotted #ccc;
  position: relative;
  margin: 0;
}
.list-steps > li:last-child {
  border: 0;
}
.list-steps > li:before {
  background: #fff;
  border: 2px solid $gray4;
  border-radius: 100%;
  color: $gray3;
  font-weight: 600;
  content: counter(list-steps);
  counter-increment: list-steps;
  float: left;
  font-size: 1.2em;
  margin-right: 0.3em;
  height: 3rem;
  left: -1.3em;
  line-height: 3rem;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 3rem;
}
.list-steps ul {
  margin-top: 1em;
}
.list-steps ul li {
  list-style-type: disc;
  margin-top: 0.5em;
}

/*doc
---
title: Content Helper - Outline list
name: content_helper-outline_list
category: basics
---

```html_example
<ol class="list">
  <li>Item 1
    <ol>
      <li>Item 1
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ol>
      </li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ol>
  </li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
</ol>
```
*/
.list > li > ol,
.content ol > li > ol {
  list-style-type: lower-alpha;
}

.list > li > ol > li > ol,
.content ol > li > ol > li > ol {
  list-style-type: lower-roman;
}


// ~LOGOS ON TITLES
// ===================================================
.pivotalcf .logo {
  background-image: url(../images/icon_cf_green@2x.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: rem(25) auto;
  padding-left: 2.2em;
}
.pivotalcf_index .title-container {
  background-image: url(../images/icon_cf_green@2x.png);
  background-repeat: no-repeat;
  background-size: rem(45) auto;
  padding-left: 1.5em;
  background-position: left center;
  display: inline-block;
}

// CF CLI Help
.pivotalcf_cf-cli_cf-help table tr td:first-child,
.cf-cli_cf-help table tr td:first-child {
  width: 44%;
}
.pivotalcf_cf-cli_cf-help table, .pivotalcf_cf-cli_cf-help table tr.separator, .pivotalcf_cf-cli_cf-help table tr.separator td,
.cf-cli_cf-help table, .cf-cli_cf-help table tr.separator, .cf-cli_cf-help table tr.separator td {
  border: none;
}

/*doc
---
title: Content Helper - Note
name: content_helper-note
category: basics
---
```html_example
<p class="note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus totam libero facilis voluptatem aliquam incidunt ipsa officiis, dicta nihil expedita, molestiae delectus impedit hic quidem deserunt laudantium, sint debitis tenetur.</p>
```
*/

// Notes and tips
.note {
  background: #ffffed;
  border-color: #ebebd3;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin: 1em 0;
  padding: 0.7em 1em 0.7em 2.3em;
  position: relative;
  &:before {
    content: $fa-var-lightbulb-o;
    @extend .fa;
    color: #b9b781;
    font-size: 1.5em;
    left: 0.6em;
    position: absolute;
    top: 0.45em;
  }
}

.note.warning {
  background-color: #fdd;
  border-color: #fbb;
  &:before {
    content: "\F071";
    font-family: FontAwesome;
    color: #b9b781;
    font-size: 1.2em;
    left: 0.6em;
    position: absolute;
    top: 0.75em;
  }
}

.note.breaking {
  background-color: #fdd;
  border-color: #fbb;
  &:before {
    content: "\F127";
    font-family: FontAwesome;
    color: #000000;
    font-size: 1.2em;
    left: 0.6em;
    position: absolute;
    top: 0.75em;
  }
}

/*doc
---
title: Content Helper - New User Tip
name: content_helper-tip
category: basics
---
```html_example
<p class="tip">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus totam libero facilis voluptatem aliquam incidunt ipsa officiis, dicta nihil expedita, molestiae delectus impedit hic quidem deserunt laudantium, sint debitis tenetur.</p>
```
*/

// Tips for first-time users
.tip {
  background: #ffffff;
  border-color: $color-border-tip;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin: 1em 0;
  padding: 1.7em 2em;
  position: relative;
  text-align: left;
  &:before {
    @extend .fa;
    color: #7C7C7C;
    font-size: $font-size-xl;
    left: 0.5em;
    position: absolute;
    top: 0.8em;
  }
}

/*doc
---
title: Code Example - Inline
name: code_example-inline

category: basics
---
```html_example
<code>"mbus"=&gt;"nats://nats:nats@192.168.86.17:4222"</code>
```
*/

code {
  background-color: #f5f5ff;
  border: 1px solid #e4e4e4;
  display: inline-block;
  font-size: rem(13);
  line-height: 1.4;
  margin: 0.2em 0.1em 0.1em;
  padding: 0 0.4em 0 0.4em;
  vertical-align: text-top;
  word-break: break-word;
}
code a {
  color: #fefefe;
}

hr {
  background-color: $color-border-light;
  border: 0;
  height: 1px;
  float: left;
  width: 100%;
}
.content pre {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(181,181,181,181);
    -webkit-box-shadow: 0 0 0px 2px rgba(248,248,248,1);
  }
}
.hidden {
  display: none !important;
}

.has-subnav {
  @media (min-width: $bp-medium) {
    .content-layout {
      display: inline-block;
      vertical-align: top;
      margin-left: 15em;
      margin-top: 110px;
      max-width: 48em;
    }
  }
}

.nav-container {
  background: transparent;
  width: 13em;
}


body.partners .sidebar {
  top: 120px;
}

body.partners #sub-nav .menu-title {
  margin-bottom: 10px;
}

body.partners.has-subnav .content-layout {
  margin-top: 50px;
}

@media (min-width: 43.75em){
  body.partners .embedded-searchbar {
    width: 90%;
    max-width: 300px;
  }
  header.partners-global-header .header-links a {
    display: none;
  }
}

@media(min-width: $bp-medium) {
  body.partners.has-subnav .content-layout {
    margin-top: 50px;
  }
}

@media(max-width: $bp-medium) {
  body.partners.has-subnav .content-layout {
    margin-top: 50px;
  }
}

@media(min-width: 700px) {
  body.partners .nav-container {
    top: 85px;
  }
}

input:not([type]) {
  display: block;
  width: 100%;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0,0,0,.26);
  font-weight: normal;
  height: 40px;
  font-size: 16px;
  padding: 4px 12px 4px 40px;
  background-image: url(https://d1fto35gcfffzn.cloudfront.net/images/docs/md-search-white.svg);
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.8);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.8);
}

@media (min-width: 700px) {
  h2 > a:before,
  h3 > a:before {
    height: 113px;
    margin: -113px 0 0;
  }
  .nav-container {
    top: 140px;
  }
}

.has-subnav .container {
  max-width: 1235px;
  margin: 0 auto;
  position: relative;
}

/* July 2019 updates */

body {
  color: $ink;
}

#container-main {
  width: 100%;
  table-layout: fixed;
}

#container-main-inner {
  display: table-row;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:300;
  margin-top: 40px;
}

h2, .h2 {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: -.01em;
}

h3, .h3  {
   font-size: 1.2em;
}

h4, .h4  {
   font-size: 1.0em;
}

.title-container {
  font-weight: 300;
}

.content .quick-links {
  display: none;
}

.quick-links {
  background-color: transparent;
  border-radius: 3px;
  border: none;
  display: inline-block;
  padding: 0;
  a {
    border-bottom: none;
    color: $ink;
    &:hover {
      background-color: transparent;
      border-bottom-style: none;
      color: $mint;
    }
  }
  ol,ul,li {
    margin: 0 0 6px;
    list-style-type: none;
    font-size: 0.9rem;
    color: $ink;    
  }
}

.quick-links > ul:before {
  display: block;
  padding-bottom: 8px;
  font-weight: 700;
  content: "In this topic";
  font-size: 0.9rem;
}


.nav-content {
  padding: 0 12px 0 6px;
  li {
    line-height: 1.1em;
  }
  a,span {
    color: $ink;
    font-size: 0.9rem;
    padding: 0 0 10px 16px;
    border-width: 0;    
  }
  .has_submenu {
    &:before {
      content: "\f078";
      margin-top: 2px;
      font-size: 11px;
      vertical-align: top;
    }
    &.expanded:before {
      content: "\f077";
    }
    & > a,
    & > span {
      margin-left: .6em;
      padding-left: .6em;
      font-weight: bold;
    }
  }
  .active,
  .active:hover,
  .active:focus,
  a:hover,
  a:focus,
  a:active {
    color: $mint;
  }
  .active, .active:hover, .active:focus {
    background-color: transparent;
  }
  @media(max-width: 700px) {
    a:hover,  a:focus,  a:active {
      background-color: transparent;
    }
  }
}


.sidebar {
  display: inline-block;
  vertical-align: top;
  position: fixed;
  top: 175px;
  max-width: 220px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 12px 20px 0;
  .product-info {
    margin: 16px 0 0 16px;
    a {
      font-size: 0.9rem;
      &:hover {
        background-color: rgba(0, 167, 157, 0.08);
        border-bottom-style: solid;        
      }
    }
  }
}

@media (min-width: 56.25em) {
  .has-subnav .container {
    margin: 0 auto;
    position: relative;
  }
}

@media (min-width: 43.75em) {
  .has-subnav .container {
    margin: 0 auto;
    position: relative;
  }
  .nav-container {
    left: auto;
    margin: 1.9em 0 1.9em 1em;
    padding: 0;
  }
}

@media(max-width: 1200px) {
  .has-subnav .content-layout {
    max-width: 42em;
  }
}

@media(max-width: 1100px) {
  .has-subnav .content-layout {
    max-width: 40em;
  }
}

@media(max-width: 1053px) {
  .has-subnav .content-layout {
    margin-left: 14em;
    max-width: 35em;
  }
}

@media(max-width: $bp-medium) {
  .nav-container {
    top: 40px;
  }
  .has-subnav .content-layout {
    max-width: 100%;
  }
  .content .quick-links {
    display: block;
    ul {
      padding: 10px 0 30px;
      ul {
        padding: 0 0 0 1.8em;
      }
    }
  }
  .sidebar {
    display: none;
  }
}

@media(max-width: 700px) {
  .nav-container {
    width: auto;
    background: #f8f8f8;
  }
  .has-subnav .content-layout {
    margin-left: 0;
    max-width: 100%;
  }
  .sidenav-title {
    border-top: 1px solid #f8f8f8;
    padding: 0.5em;
  }
  .sidenav-title:hover, .active .sidenav-title {
    background-color: $mint;
    color: #fff;
    cursor: pointer;
    border-top: 1px solid white;
    opacity: 0.8;
  }
  .active .nav-content {
    padding-bottom: 1em;
  }
}

@media (min-width: 700px) {
  h2:before, h3:before, h2 > a:before, h3 > a:before {
    height: 180px;
    margin: -180px 0 0;
  }
}

/* Aug 2019 Updates */
body[class*=__index] header.header-home-global {
  background: transparent;
  padding: 0;
  color: black;
}

body[class*=__index] header.global-header #info-search-bar {
  display: none;
}

body[class*=__index] {
  @media(max-width: 993px) {
    header.global-header #info-search-bar,
    .super-nav {
      display: block;
    }
    header.header-home-global {
      padding: 3em 1em 0;
    }
    .content-layout {
      padding-top: 1em;
    }
    form#search-home {
      margin-bottom: 40px;
    }
    header.global-header .pivotal-logo {
      max-width: 100%;
      width: auto;
    }
    header.global-header .header-links a,
    .btn-menu:before {
      color: #00253e;
    }
    header.global-header .super-nav {
      display: block;
    }
    header.global-header .super-nav .global-header-title {
      float: none;
    }
    header.global-header #info-search-bar {
      background-color: white;
      min-height: 0;
    }
    header.global-header .menu-active .mobile-only .header-item#docs-header-item {
      display: none;
    }
    .btn-menu {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  @media (max-width: 700px) {
    header.global-header .mobile-only, header.global-header .btn-menu {
      padding: 0;
    }
  }
}

















