<div class="copyright">
Copyright &copy; 2005-<%= Time.now.year %> Broadcom. All Rights Reserved. The term “Broadcom” refers to Broadcom Inc. and/or its subsidiaries.
<br/>
<a href='https://www.vmware.com/help/privacy.html'  target="_blank">Privacy Policy</a> | 
  <a href='https://www.vmware.com/help/legal.html'  target="_blank">Terms of Use</a> | 
	<a href="https://www.vmware.com/help/privacy/california-privacy-rights.html">Your California Privacy Rights</a> | 
	<a class="ot-sdk-show-settings">Cookie Settings</a>

  <br/>
</div>
<div class="support">
  Need help? <a href="https://tanzu.vmware.com/support" target="_blank">Visit Support</a>
</div>

