<!--Default search-->
<!--If book needs something different, add a book-search partial to the book's layouts folder-->
<div class="header-item searchbar js-searchbar">
  <a class="search-icon" data-behavior="Search"></a>
  <div class="search-input">
    <!-- Google CSE Search Box -->
    <div class="search-input-inner" id="docs-search">
      <gcse:search></gcse:search>
    </div>
  </div>
</div>
