<div class="copyright">
  <a href='https://pivotal.io/privacy-policy'  target="_blank">Privacy Policy</a> | 
  <a href='https://pivotal.io/terms-of-use'  target="_blank">Terms of Use</a>
  <div id="teconsent"></div>

  <br/>
  <a href='/'>Pivotal Documentation</a>
  &copy; <%= Time.now.year %> <a href='https://pivotal.io' target="_blank">Pivotal Software</a>, Inc. All Rights Reserved.
  <br/>
  <br/>
</div>
<div class="support">
  Need help? <a href="<%=vars.support_url%>" target="_blank">Visit Support</a>
</div>

