<div id="feedback">
  <form data-behavior="SubmitFeedback">
 
    <strong>Was this helpful?</strong><br/>

    <div class='feedback-option'>
      <label for="is-helpful"><input type="radio" name="helpful" value="true" id="is-helpful" required /> Yes</label>
    </div>
    <div class='feedback-option'>
      <label for="is-not-helpful"><input type="radio" name="helpful" value="false" id="is-not-helpful" /> No</label>
    </div>

    <div>
      <strong>What can we do to improve?</strong><br/>
      <textarea name="comments"> </textarea>
      <input type="hidden" name="date" />
      <input type="hidden" name="page_url" />
    </div>
    <div id="errors">
    </div>
    <input type="submit" value="Submit Feedback" id="feedback-submit"/>

  </form>
</div>
