<div class='header-links'>
    <div class="header-item">
        <a href="https://tanzu.vmware.com/support">Support</a>
    </div>
    <div class="header-item">
        <a href="https://network.pivotal.io">Downloads</a>
    </div>
    <div class='header-item' id='contact-header-item'>
        <a href='https://tanzu.vmware.com/contact'>Contact Us</a>
    </div>
    <div class='header-item'>
        <a href="https://login.run.pivotal.io">Sign In</a>
    </div>
</div>
