<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
  <ul class="menu">
    <li class="first expanded js-maintopic">
	   <a id='home-nav-link' href="/redis/index.html">Redis for Pivotal CF</a>
		</li>
    <li class="first expanded js-maintopic">
      <a href="/redis/release.html">Release Notes</a>
    </li>
    <li class="first expanded js-maintopic">
      <a href="/redis/resources.html">Resource Requirements</a>
    </li>
  </ul>
    <b>Service Plans:</b>
  <ul>
    <li class="first expanded js-maintopic">
     <a href="/redis/shared-vm.html">Shared-VM Plan</a>
    </li>
    <li class="first expanded js-maintopic">
     <a href="/redis/dedicated-vm.html">Dedicated-VM Plan</a>
    </li>
  </ul>
  </div>
</div><!--end of sub-nav-->