<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
  <ul class="menu">
    <li class="first expanded js-maintopic">
	  <a id='home-nav-link' href="/rabbitmq-cf/index.html">Pivotal RabbitMQ Service for Pivotal CF</a>
		</li>
	<li class="first expanded js-maintopic">
	  <a href="/rabbitmq-cf/managing.html">Deploying and Managing the RabbitMQ Service</a>
	</li>
	<li class="first expanded js-maintopic">
	  <a href="/rabbitmq-cf/rabbitmq-cluster.html">Accessing the RabbitMQ Cluster Directly</a>
	</li>
	<li class="first expanded js-maintopic">
	  <a href="/rabbitmq-cf/vcap-services.html">RabbitMQ Entries in the VCAP_SERVICES Environment Variable</a>
	</li>
  </ul>
  </div>
</div><!--end of sub-nav-->