<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
  <ul class="menu">
    <li class="first expanded js-maintopic">
	   <a id='home-nav-link' href="/cjoc/Jenkins.html">CloudBees Jenkins Operations Center</a>
		</li>
    <li class="first expanded js-maintopic">
      <a href="/cjoc/release.html">Release Notes</a>
    </li>
    <li class="first expanded js-maintopic">
      <a href="/cjoc/resources.html">Resource Requirements</a>
    </li>
  </ul>
  <b>Guides:</b>
  <ul>
	<li class="first expanded js-maintopic">
  	  <a href="/cjoc/security.html">Security-CloudBees Jenkins Operations Center Integration with Pivotal Cloud Foundry</a>
  	</li>
  </ul>
  </div>
</div><!--end of sub-nav-->