<div id="sub-nav" class="deep-nav js-deep-nav js-sidenav nav-container">
 <a class="sidenav-title" data-behavior="SubMenuMobile">
  Doc Index
 </a>

<div class="nav-content">
  <ul class="menu">
   <li><span class="topic"><a href="/ssc-gemfire/index.html">Session State Caching Powered by GemFire v1.0</a></span></li>
   <li>
      <span class="hasSubMenuClosed" data-behavior="HasSubMenu"><a href="/ssc-gemfire/relnotes.html">Release Notes</a></span>
      <ul>
        <li><span class="topic"><a href="/ssc-gemfire/relnotes.html#v1000">Session State Caching Powered by GemFire v1.0.0.0</a></span></li>
      </ul>
   </li>

   <li>
      <span class="hasSubMenuClosed" data-behavior="HasSubMenu"><a href="/ssc-gemfire/overview.html">Overview</a></span>
      <ul>
        <li>
        <span class="topic"><a href="/ssc-gemfire/overview.html#gemfire_config_details">GemFire Cache Configuration</a></span>
        </li>
        <li>
        <span class="topic"><a href="/ssc-gemfire/overview.html#how_it_works">How Does the Service Work?</a></span>
        </li>
      </ul>
   </li>

   <li>
      <span class="hasSubMenuClosed" data-behavior="HasSubMenu"><a href="/ssc-gemfire/installing.html">Installing Session State Caching Powered by GemFire</a></span>
         <ul>
              <li><span class="topic"><a href="/ssc-gemfire/installing.html#prereq">Prerequisites</a></span></li>
            <li><span class="topic"><a href="/ssc-gemfire/installing.html#service_defaults">Service Configuration Defaults</a></span></li>
              <li><span class="topic"><a href="/ssc-gemfire/installing.html#install">Installation Steps</a></span></li>
              <li><span class="topic"><a href="/ssc-gemfire/installing.html#configure">Creating a Session State Caching Powered by GemFire Service Plan</a></span></li>
        </ul>
    </li>

    <li><span class="hasSubMenuClosed" data-behavior="HasSubMenu"><a href="/ssc-gemfire/using_the_data_service.html">Using Session State Caching Powered by GemFire on Pivotal Cloud Foundry</a></span>
       <ul>
          <li><span class="topic"><a href="/ssc-gemfire/using_the_data_service.html#using_session_replication">About Session State Caching</a></span>
          </li>
          <li><span class="topic"><a href="/ssc-gemfire/using_the_data_service.html#creating_service_instance">Creating a Session State Caching Service Instance</a></span>
          </li>
         <li><span class="topic"><a href="/ssc-gemfire/using_the_data_service.html#deploy_applications">Deploying Applications for Use with the Session State Caching Service</a></span>
          </li>
        <li><span class="topic"><a href="/ssc-gemfire/using_the_data_service.html#binding_service">Binding an Application to Session State Caching</a></span>
          </li>
          <li><span class="topic"><a href="/ssc-gemfire/using_the_data_service.html#pushing_apps">Pushing or Restaging Applications After Service Changes</a></span>
          </li>
        <li><span class="topic"><a href="/ssc-gemfire/using_the_data_service.html#viewing_metadata">Viewing Binding Meta Data and Environment Variables</a></span>
        </li>
        <li><span class="topic"><a href="/ssc-gemfire/using_the_data_service.html#unbinding">Unbinding an Application from the Session State Caching Service</a></span>
        </li>
        <li><span class="topic"><a href="/ssc-gemfire/using_the_data_service.html#deleting_instance">Deleting a Session State Caching Service Instance</a></span>
        </li>
        <li><span class="topic"><a href="/ssc-gemfire/using_the_data_service.html#example_walkthrough">Example Walkthrough: Deploying a Spring Java Application with Session State Caching Powered by GemFire</a></span>
        </li>
       </ul>
    </li>
    <li><span class="topic"><a href="/ssc-gemfire/troubleshooting.html">Troubleshooting</a></span></li>

  </ul>
  </div>
</div><!--end of sub-nav-->
