<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <span class="topic">
          <a id='home-nav-link' href="/logsearch/index.html">Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
      </li>

      <li>
        <span class="topic">
          <a href="/logsearch/overview.html">Overview</a>
        </span>
      </li>

      <li>
        <span>
          <a href="/logsearch/release.html">Release Notes</a>
        </span>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/logsearch/installing.html">Installing Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/logsearch/installing.html#installation">Installation via Pivotal Operation Manager</a></span></li>
          <li><span class="topic"><a href="/logsearch/installing.html#elastic-runtime">Elastic Runtime and Data Service Component Logs</a></span></li>
          <li><span class="topic"><a href="/logsearch/installing.html#kibana">Kibana</a></span></li>
          <li><span class="topic"><a href="/logsearch/installing.html#installing-elastic-runtime">Installing without Elastic Runtime</a></span></li>
        </ul>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/logsearch/using.html">Using Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/logsearch/using.html#discover-pane">Finding logs in the Discover pane</a></span></li>
          <li><span class="topic"><a href="/logsearch/using.html#creating-a-visualization">Creating a visualization</a></span></li>
          <li><span class="topic"><a href="/logsearch/using.html#creating-a-dashboard">Creating a dashboard</a></span></li>
        </ul>
      </li>


      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/logsearch/maintain.html">Maintaining Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/logsearch/maintain.html#monitoring">Monitoring Log Search cluster</a></span></li>
          <li><span class="topic"><a href="/logsearch/maintain.html#backing-up">Backing up Kibana dashboards</a></span></li>
        </ul>
      </li>

      <li>
        <span>
          <a href="/logsearch/upgrade.html">Upgrading Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
