<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/redis/index.html">Redis for PCF&reg;</a>
      </li>

      <li class="has_submenu">
        <a href="/redis/overview.html">Overview</a>
        <ul>
          <li>
            <a href="/redis/overview.html#service">Service Plan Descriptions</a>
          </li>
          <li>
            <a href="/redis/overview.html#resources">Default Resources</a>
          </li>
          <li>
            <a href="/redis/overview.html#security">Security</a>
          </li>

        </ul>
      </li>

      <li>
        <a href="/redis/release.html">Release Notes</a>
      </li>

      <li class="has_submenu">
        <a href="/redis/installing.html">Installing Redis for PCF&reg;</a>
        <ul>
          <li>
            <a href="/redis/installing.html#install">Installation Steps</a>
          </li>
          <li>
            <a href="/redis/installing.html#configure">Configuring Redis for PCF</a>
          </li>
          <li>
            <a href="/redis/installing.html#syslog">Configuring Syslog Output</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/redis/using.html">Using Redis for PCF&reg;</a>
        <ul>
          <li>
            <a href="/redis/using.html#create">Creating a Redis Service Instance</a>
          </li>
          <li>
            <a href="/redis/using.html#bind">Binding an Application to the Redis Service</a>
          </li>
          <li>
            <a href="/redis/using.html#delete">Deleting a Redis Instance</a>
          </li>
        </ul>
      </li>

      <li class="has_submenu">
        <a href="/redis/maintain.html">Maintaining Redis for PCF&reg;</a>
        <ul>
          <li>
            <a href="/redis/maintain.html#backup">Creating Backups of Redis Instances</a>
          </li>
          <li>
            <a href="/redis/maintain.html#restore">Restore Redis Instance from a Backup</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/redis/upgrade.html">Upgrading Redis for PCF&reg;</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
