<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <span class="topic">
          <a id='home-nav-link' href="/redis/index.html">Redis for PCF&reg;</a>
        </span>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/redis/overview.html">Overview</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/redis/overview.html#service">Service Plan Descriptions</a></span></li>
          <li><span class="topic"><a href="/redis/overview.html#resources">Default Resources</a></span></li>
          <li><span class="topic"><a href="/redis/overview.html#security">Security</a></span></li>

        </ul>
      </li>

      <li>
        <span>
          <a href="/redis/release.html">Release Notes</a>
        </span>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/redis/installing.html">Installing Redis for PCF&reg;</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/redis/installing.html#install">Installation Steps</a></span></li>
          <li><span class="topic"><a href="/redis/installing.html#configure">Configuring Redis for PCF</a></span></li>
          <li><span class="topic"><a href="/redis/installing.html#syslog">Configuring Syslog Output</a></span></li>
        </ul>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/redis/using.html">Using Redis for PCF&reg;</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/redis/using.html#create">Creating a Redis Service Instance</a></span></li>
          <li><span class="topic"><a href="/redis/using.html#bind">Binding an Application to the Redis Service</a></span></li>
          <li><span class="topic"><a href="/redis/using.html#delete">Deleting a Redis Instance</a></span></li>
        </ul>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/redis/maintain.html">Maintaining Redis for PCF&reg;</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/redis/maintain.html#backup">Creating Backups of Redis Instances</a></span></li>
          <li><span class="topic"><a href="/redis/maintain.html#restore">Restore Redis Instance from a Backup</a></span></li>
        </ul>
      </li>

      <li>
        <span>
          <a href="/redis/upgrade.html">Upgrading Redis for PCF&reg;</a>
        </span>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
