<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <span class="topic">
          <a id='home-nav-link' href="/logsearch/index.html">Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
      </li>

      <li>
        <span>
          <a href="/logsearch/release.html">Release Notes</a>
        </span>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/logsearch/installing.html">Installing Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/logsearch/installing.html#installation">Install via Pivotal Ops Manager</a></span></li>
          <li><span class="topic"><a href="/logsearch/installing.html#elastic-runtime">Elastic Runtime and Data Service Component Logs</a></span></li>
          <li><span class="topic"><a href="/logsearch/installing.html#kibana">Kibana</a></span></li>
          <li><span class="topic"><a href="/logsearch/installing.html#installing-elastic-runtime">Install without Elastic Runtime</a></span></li>
        </ul>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/logsearch/using.html">Using Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/logsearch/using.html#discover-pane">Find Logs in the Discover Page</a></span></li>
          <li><span class="topic"><a href="/logsearch/using.html#create-a-visualization">Create a Visualization</a></span></li>
          <li><span class="topic"><a href="/logsearch/using.html#creating-a-dashboard">Create a Dashboard</a></span></li>
        </ul>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/logsearch/search-guide.html">Data Dictionary and Search Guide</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/logsearch/search-guide.html#data-dictionary">Data Dictionary</a></span></li>
          <li><span class="topic"><a href="/logsearch/search-guide.html#search-examples">Search Examples</a></span></li>
        </ul>
      </li>

<!--- commenting out because these pages are likely to be added back later
      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/logsearch/maintain.html">Maintaining Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/logsearch/maintain.html#monitoring">Monitor Log Search Cluster</a></span></li>
          <li><span class="topic"><a href="/logsearch/maintain.html#backing-up">Back Up Kibana Dashboards</a></span></li>
        </ul>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/logsearch/search-guide.html">Data Dictionary and Search Guide&reg; Log Search</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/logsearch/search-guide.html#data-dictionary">Data Dictionary</a></span></li>
          <li><span class="topic"><a href="/logsearch/search-guide.html#search-examples">Search Examples</a></span></li>
        </ul>
      </li>

      <li>
        <span>
          <a href="/logsearch/upgrade.html">Upgrading Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
      </li>
--->

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/logsearch/troubleshooting.html">Troubleshooting</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/logsearch/troubleshooting.html#no-logs">No Logs on Kibana</a></span></li>
        </ul>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
