<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
  <ul class="menu">
    <li class="first expanded js-maintopic">
	   <a id='home-nav-link' href="/elk/index.html">ELK for Pivotal Cloud Foundry</a>
		</li>
    <li class="first expanded js-maintopic">
      <a href="/elk/release.html">Release Notes</a>
    </li>
    <li class="first expanded js-maintopic">
      <a href="/elk/resources.html">Resource Requirements</a>
    </li>
  </div>
</div><!--end of sub-nav-->