<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li class="first expanded js-maintopic">
        <a id='home-nav-link' href="/cloudbees/Jenkins.html">CloudBees Jenkins Enterprise</a>
      </li>
      <li class="first expanded js-maintopic">
        <a href="/cloudbees/release.html">Release Notes</a>
      </li>
      <li class="first expanded js-maintopic">
        <a href="/cloudbees/resources.html">Resource Requirements</a>
      </li>
    </ul>
    <b>Guides:</b>
    <ul>
      <li class="first expanded js-maintopic">
        <a href="/cloudbees/continuous-delivery-java.html">Guide to Testing and Deploying a Java Application to Pivotal Cloud Foundry&reg;</a>
      </li>
      <li class="first expanded js-maintopic">
        <a href="/cloudbees/continuous-delivery-ruby.html">Guide to Testing and Deploying a Ruby Application to Pivotal Cloud Foundry&reg;</a>
      </li>
      <li class="first expanded js-maintopic">
        <a href="/cloudbees/security.html">Security-Integrating CloudBees Jenkins Enterprise with Pivotal Cloud Foundry&reg;</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
