<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/logsearch/index.html">Pivotal Cloud Foundry&reg; Log Search</a>
      </li>
      <li>
          <a href="/logsearch/installing.html">Installing PCF Log Search</a>
      </li>
      <li>
          <a href="/logsearch/scaling.html">Scaling PCF Log Search</a>
      </li>
      <li>
          <a href="/logsearch/using.html">Using PCF Log Search</a>
      </li>
      <li>
          <a href="/logsearch/search-guide.html">PCF Log Search Tags Dictionary</a>
      </li>
      <li>
          <a href="/logsearch/app-sec-groups.html">PCF Log Search Application Security Groups</a>
      </li>
      <li>
          <a href="/logsearch/release.html">Release Notes</a>
      </li>
     </ul>
    </div>
</div>
