<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    P-MySQL Documentation
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          MySQL for Pivotal Cloud Foundry&reg;
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="release-notes.html">
                Release Notes
              </a>
            </li>
            <li class="menu-link">
              <a href="known-issues.html">
                Known Issues
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          General Information
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="cluster-behavior.html">
                Cluster Scaling, Node Failure, and Quorum
              </a>
            </li>
            <li class="menu-link">
              <a href="cluster-config.html">
                MySQL configuration
              </a>
            </li>
            <li class="menu-link">
              <a href="proxy.html">
                MySQL Proxy
              </a>
            </li>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Administration & Troubleshooting
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/p-mysql/cluster-state.html">
                Determining Cluster State
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/bootstrapping.html">
                Bootstrapping a Cluster
              </a>
            </li>
            <li class="menu-link">
              <a href="/p-mysql/backup.html">
                Backing up MySQL
              </a>
            </li>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
