<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
  <ul class="menu">
    <li class="first expanded js-maintopic">
	  <a id='home-nav-link' href="/cassandra/index.html">Overview</a>
	</li>
	<li class="first expanded js-maintopic">
	  <a href="/cassandra/releases.html">Release Notes</a>
	</li>
	<li class="first expanded js-maintopic">
	  <a href="/cassandra/resources.html">Resource Requirements</a>
	</li>
  </ul>
  <b>Service Plans:</b>
  <ul>
    <li class="first expanded js-maintopic">
     <a href="/cassandra/development.html">Development Plan</a>
    </li>
  </ul>
  </div>
</div><!--end of sub-nav-->