<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <span class="topic">
          <a id='home-nav-link' href="/logsearch/index.html">Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
      </li>

      <li>
          <a href="/logsearch/release.html">Release Notes</a>
          <a href="/logsearch/installing.html">Installing</a>
          <a href="/logsearch/using.html">Using</a>
          <a href="/logsearch/search-guide.html">Search Guide</a>
          <a href="/logsearch/troubleshooting.html">Troubleshooting</a>
      </li>
     </ul>
    </div>
</div>