<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content deepnav-content">
    <ul class="menu">
      <li>
        <span class="topic">
          <a id='home-nav-link' href="/on-demand-service-broker/index.html">On-demand Service Broker for Pivotal Cloud Foundry&reg;</a>
        </span>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/on-demand-service-broker/overview.html">Overview</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/on-demand-service-broker/overview.html#what-is-a-cloud-foundry-service-broker">What is a Cloud Foundry service broker?</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/overview.html#what-is-an-on-demand-service-broker">What is an on-demand service broker?</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/overview.html#what-is-a-service-adapter">What is a service adapter</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/overview.html#why-provision-iaas-resources-on-demand">Why provision IAAS resources on-demand?</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/overview.html#why-use-odb-to-develop-on-demand-service-offerings">Why use ODB to develop on-demand service offerings?</a></span></li>
          <li><span class="hasSubMenuClosed"><a href="/on-demand-service-broker/overview.html#prerequisites-for-deploying-brokers-that-use-odb">Prerequisites for deploying brokers that use ODB</a></span>
            <ul>
              <li><span class="topic"><a href="/on-demand-service-broker/overview.html#bosh-v2-features-we-use">BOSH v2 Features we use</a></span></li>
            </ul>
          </li>
          <li><span class="topic"><a href="/on-demand-service-broker/overview.html#steps-required-to-use-on-demand-service-broker">Steps required to use on-demand service broker</a></span></li>
        </ul>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/on-demand-service-broker/creating.html">Creating a service adapter</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/on-demand-service-broker/creating.html#what-is-required-of-the-service-authors">What is required of the Service Authors?</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/creating.html#creating-a-service-release">Creating a Service Release</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/creating.html#creating-a-service-adapter">Creating a Service Adapter</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/creating.html#service-adapter-interface">Service adapter interface</a></span></li>
          <li><span class="hasSubMenuClosed"><a href="/on-demand-service-broker/creating.html#sub-commands">Subcommands</a></span>
            <ul>
              <li><span class="topic"><a href="/on-demand-service-broker/creating.html#generate-manifest">generate-manifest</a></span></li>
              <li><span class="topic"><a href="/on-demand-service-broker/creating.html#create-binding">create-binding</a></span></li>
              <li><span class="topic"><a href="/on-demand-service-broker/creating.html#delete-binding">delete-binding</a></span></li>
            </ul>
          </li>
          <li><span class="topic"><a href="/on-demand-service-broker/creating.html#packaging">Packaging</a></span></li>
        </ul>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/on-demand-service-broker/operating.html">Operating the On-demand Service Broker</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/on-demand-service-broker/operating.html#what-are-the-responsibilities-of-the-operator">What are the responsibilities of the Operator?</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/operating.html#upload-required-releases">Upload Required Releases</a></span></li>
          <li><span class="hasSubMenuClosed"><a href="/on-demand-service-broker/operating.html#write-a-broker-manifest">Write a Broker Manifest</a></span>
            <ul>
                <li><span class="topic"><a href="/on-demand-service-broker/operating.html#core-broker-configuration">Core Broker Configuration</a></span></li>
                <li><span class="topic"><a href="/on-demand-service-broker/operating.html#service-catalog-and-plan-composition">Service catalog and Plan composition</a></span></li>
            </ul>
          </li>
          <li><span class="hasSubMenuClosed"><a href="/on-demand-service-broker/operating.html#broker-management">Broker Management</a></span>
            <ul>
                <li><span class="topic"><a href="/on-demand-service-broker/operating.html#register-broker">register-broker</a></span></li>
                <li><span class="topic"><a href="/on-demand-service-broker/operating.html#deregister-broker">deregister-broker</a></span></li>
                <li><span class="topic"><a href="/on-demand-service-broker/operating.html#upgrading-the-broker-and-existing-service-instances">Upgrading the broker and existing service instances</a></span></li>
                <li><span class="topic"><a href="/on-demand-service-broker/operating.html#deleting-all-service-instances)">Deleting all service instances</a></span></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <span class="hasSubMenuClosed" data-behavior="HasSubMenu">
          <a href="/on-demand-service-broker/concepts.html">On-demand Service Broker Concepts/Reference</a>
        </span>
        <ul>
          <li><span class="topic"><a href="/on-demand-service-broker/concepts.html#catalog">Catalog</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/concepts.html#create-service-instance">Create service instance</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/concepts.html#delete-service-instance">Delete service instance</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/concepts.html#update-service-instance">Update service instance</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/concepts.html#bind">Bind</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/concepts.html#unbind">Unbind</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/concepts.html#upgrade-all-instances">Upgrade all instances</a></span></li>
          <li><span class="topic"><a href="/on-demand-service-broker/concepts.html#delete-all-instances">Delete all instances</a></span></li>

        </ul>
      </li>


    </ul>
  </div>
</div><!--end of sub-nav-->
