<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <span class="topic">
          <a id='home-nav-link' href="/logsearch/index.html">Pivotal Cloud Foundry&reg; Log Search</a>
        </span>
      </li>
      <li>
          <span><a href="/logsearch/release.html">Release Notes</a></span>
      </li>
      <li>
          <span><a href="/logsearch/installing.html">Installing PCF Log Search</a></span>
      </li>
      <li>
          <span><a href="/logsearch/using.html">Using PCF Log Search</a></span>
      </li>
      <li>
          <span><a href="/logsearch/search-guide.html">Log Search Tags Dictionary</a></span>
      </li>
      <li>
          <span><a href="/logsearch/troubleshooting.html">Troubleshooting</a></span>
      </li>
     </ul>
    </div>
</div>