<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content deepnav-content">
    <ul class="menu">
      <li><span class="topic"><a id='home-nav-link' href="/docs-service-backup/index.html">Service Backups for Pivotal Cloud Foundry&reg;</a></span></li>
      <li><span class="topic"><a href="/docs-service-backup/index.html#service-backup-bosh-release">Service Backup BOSH release</a></span>
        <ul>
          <li><span class="topic"><a href="/docs-service-backup/index.html#uploading">Uploading a service backup release</a></span></li>
          <li><span class="topic"><a href="/docs-service-backup/index.html#configuring">Configuring the manifest</a></span>
            <ul>
              <li><span class="topic"><a href="/docs-service-backup/index.html#adding-service">Adding service backups to your service deployment</a></span></li>
              <li><span class="topic"><a href="/docs-service-backup/index.html#correlating">Correlating BOSH instances to Cloud Foundry service instances</a></span></li>
              <li><span class="topic"><a href="/docs-service-backup/index.html#disabling">Disable Service Backups</a></span></li>
            </ul>
          </li>
          <li><span class="topic"><a href="/docs-service-backup/index.html#backup-destinations">Backup Destinations</a></span>
            <ul>
              <li><span class="topic"><a href="/docs-service-backup/index.html#azure">Azure</a></span></li>
              <li><span class="topic"><a href="/docs-service-backup/index.html#scp">SCP</a></span></li>
            </ul>
          </li>
          <li><span class="topic"><a href="/docs-service-backup/index.html#locating">Locating the backups</a></span></li>
        </ul>
      </li>
      <li><span class="topic"><a href="/docs-service-backup/index.html#contributing">Contributing to Service Backup</a></span>
        <ul>
          <li><span class="topic"><a href="/docs-service-backup/index.html#setting-up-development">Setting up development environment</a></span></li>
          <li><span class="topic"><a href="/docs-service-backup/index.html#deploying-release">Deploying a Release</a></span></li>
          <li><span class="topic"><a href="/docs-service-backup/index.html#committing-changes">Committing your changes</a></span></li>
        </ul>
      </li>
      <li><span class="topic"><a href="/docs-service-backup/index.html#aws-backup">AWS Backup User Permissions</a></span></li>
    </ul>
  </div>
</div><!--end of sub-nav-->
