<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/service-backup/index.html">Service Backups for Pivotal Cloud Foundry&reg;</a>
      </li>

      <li class="has_submenu">
        <a href="/service-backup/index.html#configuration">Configuration</a>
        <ul>
          <li>
            <a href="/service-backup/index.html#uploading">Uploading a service backup release</a>
          </li>
          <li>
            <a href="/service-backup/index.html#configuring">Configuring the manifest</a>
          </li>
          <li>
            <a href="/service-backup/index.html#backup-destinations">Backup Destinations</a>
          </li>

        </ul>
      </li>

      <li class="has_submenu">
        <a href="/service-backup/index.html#operating">Operating</a>
        <ul>
          <li>
            <a href="/service-backup/index.html#locating-the-backups">Locating the backups</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
