<div id="sub-nav" class="js-sidenav collapsible nav-container" role="navigation" data-behavior="Collapsible">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li class="has_submenu">
        <span>Partners</span>
        <ul>
          <li>
            <a href="/partners/index.html">Partners Docs Template Index</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
