<h1>EXAMPLE LAYOUT REPO</h1>
<div class="main-container">
    <div class="main">
        <h2 class="title-intro">
          Pivotal Software
        </h2>
        <ul class="panels">
            <li class="panel span3">
                <a class="configure" href="/pivotalcf/getstarted/pcf-docs.html" id="pivotal-cf">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal</span> <span class="title-emph">Cloud Foundry</span><span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

            <!-- <li class="panel span3">
               <a class="configure" href="http://data.docs.pivotal.io/dca/index.html" id="pivotal-cf-docs">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal</span> <span class="title-emph">Data Computing Appliance</span>
                    </div>
                </a>
            </li>
-->
            <li class="panel span3">
                <a class="configure" href="/spring-flo/index.html" id="flo">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal</span> <span class="title-emph">Flo for Spring XD</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://gemfire.docs.pivotal.io/index.html" id="gemfire">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal</span> <span class="title-emph">GemFire</span><span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://gemfirexd.docs.pivotal.io/index.html" id="gemfire-xd">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal</span> <span class="title-emph">GemFire<span class='tmr'>&reg;</span> XD</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://gpdb.docs.pivotal.io/index.html" id="greenplum-database">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal </span><span class="title-emph">Greenplum<span class='tmr'>&reg;</span> Database</span>
                    </div>
                </a>
            </li>
            <li class="panel span3">
                <a class="configure" href="http://hawq.docs.pivotal.io/index.html" id="hawq">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal </span><span class="title-emph">HAWQ<span class='tmr'>&reg;</span></span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://pivotalhd.docs.pivotal.io/index.html" id="pivotal-hd">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal<span class='tmr'>&reg;</span></span> <span class="title-emph">HD</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://pivotalrti.docs.pivotal.io/index.html" id="pivotal-rti">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal<span class='tmr'>&reg;</span></span> <span class="title-emph">RTI</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://rabbitmq.docs.pivotal.io/index.html" id="pivotal-rabbitmq">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal<span class='tmr'>&reg;</span></span> <span class="title-emph">RabbitMQ</span><span class='tmr'>&trade;</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://sqlfire.docs.pivotal.io/index.html" id="pivotal-sqlfire">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal<span class='tmr'>&reg;</span></span> <span class="title-emph">SQLFire</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://tcserver.docs.pivotal.io/index.html" id="pivotal-tc-server">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal<span class='tmr'>&reg;</span></span> <span class="title-emph">tc Server</span>
                    </div>
                </a>
            </li>

<!--
            <li class="panel span3">
                <a class="configure" href="http://pivotalvrp.docs.pivotal.io/index.html" id="pivotal-vrp">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal<span class='tmr'>&reg;</span></span> <span class="title-emph">VRP</span>
                    </div>
                </a>
            </li>
-->

            <li class="panel span3">
                <a class="configure" href="http://webserver.docs.pivotal.io/index.html" id="pivotal-web-server">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal<span class='tmr'>&reg;</span></span> <span class="title-emph">Web Server</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
            </li>
        </ul>
		<h2 class="title-intro">
          Pivotal Cloud Foundry Services
        </h2>
        <ul class="panels">

            <li class="panel span3">
                <a class="configure" href="/spring-cloud-services/index.html" id="pivotal-spring-cloud-services">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal</span> <span class="title-emph">Spring Cloud Services</span> for <span class="title-emph">Pivotal Cloud Foundry</span><span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>
            <li class="panel span3">
                <a class="configure" href="/ssc-gemfire/index.html" id="ssc-gemfire">
                    <div class="prodname">
                        <span class="title-emph">Session State Caching</span>
                        <span class="title-deemph">Powered by</span><span class="title-emph">Pivotal GemFire</span><span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="/spring-xd/index.html" id="pivotal-spring-xd">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal</span> <span class="title-emph">Spring XD</span> for <span class="title-emph">Pivotal Cloud Foundry</span><span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="/rabbitmq-cf/index.html" id="pivotal-rabbitmq">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal</span> <span class="title-emph">RabbitMQ</span><span class='tmr'>&trade;</span> for <span class="title-emph">Pivotal Cloud Foundry</span><span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="/pivotalhd-ds/index.html" id="pivotal-hd-service-for-pivotal-cf">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal</span> <span class="title-emph">HD Service</span> for <span class="title-emph">Pivotal Cloud Foundry</span><span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="/p-identity/index.html" id="pivotal-sso-service-for-pivotal-cf">
                    <div class="prodname">
			<span class="title-deemph">Pivotal</span> <span class="title-emph">Single Sign-On Service</span> for <span class="title-emph">Pivotal Cloud Foundry</span><span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

			<li class="panel span3">
                <a class="configure" href="/mobile/index.html" id="mobile-docs">
                    <div class="prodname">
                        <span class="title-deemph">Pivotal Cloud Foundry<span class='tmr'>&reg;</span></span> <span class="title-emph">Mobile Services</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="/cassandra/index.html" id="p1-services-cassandra">
                    <div class="prodname">
                      <span class="title-emph">DataStax Enterprise</span>
                      <br>
                      for Pivotal Cloud Foundry
                      <span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

     <!--       <li class="panel span3">
                <a class="configure" href="/neo4j/index.html" id="p1-services-neo4j">
                    <div class="prodname">
                      <span class="title-emph">Neo4j</span>
                      <br>
                      for Pivotal Cloud Foundry
                      <span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li> -->

      <!--      <li class="panel span3">
                <a class="configure" href="/mongodb/index.html" id="p1-services-mongodb">
                    <div class="prodname">
                      <span class="title-emph">MongoDB</span>
                      <br>
                      for Pivotal Cloud Foundry
                      <span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li> -->

             <li class="panel span3">
                <a class="configure" href="/p-mysql/index.html" id="p-mysql">
                    <div class="prodname">
                      <span class="title-emph">MySQL</span>
                       <br>
                      for Pivotal Cloud Foundry
                      <span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

			 <li class="panel span3">
	                <a class="configure" href="/redis/index.html" id="p1-services-redis">
	                    <div class="prodname">
	                      <span class="title-emph">Redis</span>
	                      <br>
	                      for Pivotal Cloud Foundry
	                      <span class='tmr'>&reg;</span>
	                    </div>
	                </a>
	            </li>

            <li class="panel span3">
                <a class="configure" href="/p-riakcs/index.html" id="p-riakcs">
                    <div class="prodname">
                      <span class="title-emph">Riak CS</span>
                       <br>
                      for Pivotal Cloud Foundry
                      <span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="/tracker-pcf/index.html" id="tracker">
                    <div class="prodname">
                      <span class="title-emph">Pivotal Tracker</span>
                      <br>
                      for Pivotal Cloud Foundry
                      <span class='tmr'>&reg;</span>
                    </div>
                </a>
            </li>
			<!--	  <li class="panel span3"> -->
		     <!--           <a class="configure" href="/sshfs/index.html" id="sshfs"> -->
		     <!--               <div class="prodname"> -->
		     <!--                 <span class="title-emph">SSH FS</span> -->
		     <!--                 <br> -->
		      <!--                for Pivotal Cloud Foundry -->
		       <!--               <span class='tmr'>&reg;</span> -->
		       <!--             </div> -->
		        <!--        </a> -->
		        <!--    </li> -->

            <!-- <li class="panel span3"> -->
            <!--     <a class="configure" href="/p1&#45;services/Elasticsearch.html" id="p1&#45;services&#45;elasticsearch"> -->
            <!--         <div class="prodname"> -->
            <!--           <span class="title-emph">Elasticsearch</span> -->
            <!--           <span class='tmr'>&#38;trade;</span> -->
            <!--           <br> -->
            <!--           for Pivotal Cloud Foundry -->
            <!--           <span class='tmr'>&#38;trade;</span> -->
            <!--         </div> -->

            <!--     </a> -->
            <!-- </li> -->

            <li class="panel span3">
            </li>
        </ul>

			<h2 class="title-intro">
	          Partner Services for Pivotal Cloud Foundry
	        </h2>
	        <ul class="panels">
				 <li class="panel span3">
		                <a class="configure" href="/cloudbees/Jenkins.html" id="p1-services-cloudbees">
		                    <div class="prodname">
		                      <span class="title-emph">CloudBees Jenkins Enterprise</span>
		                      <br>
		                      for Pivotal Cloud Foundry
		                      <span class='tmr'>&reg;</span>
		                    </div>
		                </a>
		            </li>
					 <li class="panel span3">
			                <a class="configure" href="/cjoc/Jenkins.html" id="cjoc">
			                    <div class="prodname">
			                      <span class="title-emph">CloudBees Jenkins Operations Center</span>
			                      <br>
			                      for Pivotal Cloud Foundry
			                      <span class='tmr'>&reg;</span>
			                    </div>
			                </a>
			            </li>
				<li class="panel span3">
		                <a class="configure" href="/elk/index.html" id="elk">
		                    <div class="prodname">
		                        <span class="title-deemph">stayUp.io</span> <span class="title-emph">ELK</span> for <span class="title-emph">Pivotal Cloud Foundry</span><span class='tmr'>&reg;</span>
		                    </div>
		                </a>
		            </li>
		</ul>
        <h2 class="title-intro">
          Open Source
        </h2>

        <ul class="panels">
           <li class="panel span3">
                <a class="configure" href="http://docs.cloudfoundry.org" target='_blank' id="oss-cloudfoundry">
                    <div class="prodname oss">
                        <img src="./images/OSS_CloudFoundry.png">
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://madlib.net/documentation/" target='_blank' id="oss-madlib">
                    <div class="prodname oss">
                        <img src="./images/OSS_MADlib.png">
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://www.rabbitmq.com/documentation.html" target='_blank' id="oss-rabbitmq">
                    <div class="prodname oss">
                        <img src="./images/OSS_RabbitMQ.png">
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://redis.docs.pivotal.io/index.html" target='_blank' id="oss-redis">
                    <div class="prodname oss">
                        <img src="./images/OSS_Redis.png">
                    </div>
                </a>
            </li>

            <li class="panel span3">
                <a class="configure" href="http://spring.io/docs" target='_blank' id="oss-spring">
                    <div class="prodname oss">
                        <img src="./images/OSS_Spring.png">
                    </div>
                </a>
            </li>



        </ul>
    </div>
    </div>
</div>
